[2013-07-11 08:32] armetiz opened #1 "Rename CLI command save-ratio to ratio-save"
Already defined ratio-list, could be cool to have a ratio-save

[2013-07-11 08:39] armetiz opened #2 "Create a RatioCurrencies"
Right now, StorageInterface::loadRatioList return an array.

https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/blob/master/Pair/StorageInterface.php

[2013-07-11 08:55] #2 closed, assigned to nobody

[2013-07-12 06:34] #1 closed, assigned to nobody

[2013-07-12 06:35] philippe-levan opened #3 "Add a import system for currency ratio from different API"

[2013-07-12 07:58] #3 closed, assigned to philippe-levan

[2013-07-26 14:56] philippe-levan opened #5 "Error in formType for amounts above 1000 in fr locale"
A space is added in amount display and not removed when saving

[2013-10-28 11:50] #5 closed, assigned to philippe-levan

[2013-12-17 22:26] paulchubatyy opened #10 "Form-wide currency"
Dear sirs,

First off I would like to thank you this beautiful bundle, helps me a lot.

When working with the bundle I've got to the interesting situation many of us are probably reaching at some point.

I've got some form-wide currency selection (think about the invoice) that states the currency of the document. Also I've got the list of items (think about invoice items) that basically have only

[2014-01-29 16:26] #10 closed, assigned to nobody

[2014-03-11 12:14] alvarezmario opened #14 "Doctrine's bundles support"
Hi,
First of all, this is a nice bundle, thanks for sharing. That being said, is so sad it only support the Doctrine ORM. I was hoping to find an open issue here asking for ODM support, but there aren't a single one.
So I'd like to know if it's on the roadmap to provide support to the entire Doctrine family, the same way the FOS bundles does, because I'd like to use this bundle in my project, but

[2014-05-09 07:22] TNAJanssen opened #16 "Support for currency symbol before amount"

[2014-07-11 08:19] #16 closed, assigned to nobody

[2014-08-07 09:23] ghost opened #19 "Database Money representation."
I have read the doc file https://github.com/TheBigBrainsCompany/TbbcMoneyBundle#saving-moneys-in-doctrine .
Say, I have the Wallet and Item entities. Should i define the Money entity and should i define the relationships: Wallet->balance (OneToMany) Money, Item->price (OneToMany) Money etc.?
What is the best practise?

[2014-09-04 11:09] #19 closed, assigned to nobody

[2014-12-08 14:39] jkabat opened #25 "Make parameter optional"
Is possible to make "doctrine.entity_managers" parameter optional? Or use this check only when doctrine is enabled?

Im using Propel as my DB layer and just because of following error I have to enable and configure doctrine even if Im not using it:

`InvalidArgumentException: The parameter "doctrine.entity_managers" must be defined.`

With correct setup of model (based on doc's solution 1) I can u

[2014-12-09 17:05] #25 closed, assigned to nobody

[2015-01-08 10:07] voslartomas opened #26 "Doctrine2 Embedded annotation"
Did you consider to implement Embedded annotation instead of first solution how to persist money in the database?

http://doctrine-orm.readthedocs.org/en/latest/tutorials/embeddables.html

It's just in 2.5.0 branch, which is not stable yet, but it would be imho very nice solution.

[2015-01-08 10:10] armetiz commented on #26
Hi @ufik
As you said; this feature is available on Doctrine 2.5;
For now, TbbcMoneyBundle could work with Doctrine 2.3.

So, I agree that using the embeddables doctrine feature is a more elegant solution, but this will not work on older project under Doctrine 2.3

@philippe-levan what do you think about this ?

Regards;
Thomas.

[2015-01-26 11:54] philippe-levan commented on #26
Hi @ufik,

Yes I believe we have to use this new doctrine feature, perhaps with a new doctrine type. I still didn't look closely at this feature but it is clear it solves a major limitation of this bundle.

We have to keep the backward compatibility. We have to find a way to insert this new doctrine type only when the doctrine version allows to use embedded types.

I'll look at that in february.

[2015-03-31 12:39] niepi opened #27 "SimpleMoneyType Options"
Hi, great Bundle.

I have a product which has different fixed prices for different currencies (EUR, USD). I would like to predefine a currency for a form fields and not let the user change the currency.

Thomas.

[2015-04-01 06:42] philippe-levan commented on #27
Hi,
I believe the best way is to build your own form type for that. The exact way this form type should work depends on you project.
I'm afraid that a third form type for the same data type (Money) in this bundle would confuse the users.
Best regards,
Philippe

[2015-04-01 06:42] #27 closed

[2015-04-23 09:14] hmlb opened #29 "RateExchangeRatioProvider no longer usable"
Hi,
The service http://rate-exchange.appspot.com used by this provider is no longer usable.
This provider should be deprecated/removed ?

[2015-04-27 16:17] philippe-levan commented on #29
fixed by PR #28
best regards,
Philippe

[2015-04-27 16:17] #29 closed

[2015-05-27 18:38] MadMind opened #31 "Schema update issue"
Each time I run doctrine:schema:update the type="money" field is updated again and again.
Here is the query:
ALTER TABLE products CHANGE price price VARCHAR(255) NOT NULL;
Here is the field declaration:
    /**
     * @var Money
     * @ORM\Column(name="price", type="money")
     */
    protected $price;

I even upgraded doctrine/orm (v2.4.7 -> v2.5.0) and doctrine/dbal (v2.4.4 -> v2.5.1), same is

[2015-06-17 15:57] sovaalexandr opened #32 "Ability to use bundle services independently of reference currency"
This is useful for projects that may not have one main currency or that are multi-currency.
- Ability to specify currency that you are convert from at `PairManager`
- Ability to specify currency different from `reference_currency` at `PairHistoryManager` interactions
- Use `reference_currency` as default currency (for instance if there is no currency to convert from specified)
- Ability to specify

[2015-06-23 14:48] wakoch opened #34 "in twig filter: use currency instead of symbol"
I want to output something like 5.000,95 EUR not 5.000,95 €

formatMoney() always uses the currency symbol.

[2015-09-15 13:08] johanwilfer commented on #31
@MadMind I just created a PR with a fix. Perhaps you can try it?

[2015-09-23 12:33] philippe-levan commented on #31
@johanwilfer thanks for your PR !

[2015-09-23 12:33] #31 closed

[2015-09-26 12:45] dennisdegreef opened #37 "Documentation states requiring dev-master"
The documentation [README.md](https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/blob/master/README.md#installation) states installation is done by performing `composer require tbbc/money-bundle` (which will install a stable version by default) *or* by specifying `dev-master` in your composer.json.

How stable is dev-master? If you'd suggest to use stable releases, you could consider removing

[2015-10-09 09:17] tomasz-janiczek opened #38 "Doctrine 2.5: boot() breaks console command(s)"
If I do the following:

then

1. first command runs fine
2. second command fails with

This is because of the following code:

[code]

The problem is the getDatabasePlatform() call and this issue with Doctrine/DBAL:
http://www.doctrine-project.org/jira/browse/DBAL-1057

Any workaround/fix for this available?
I know it's not the fault of the bundle, but still - would be nice to have something...

[2015-10-09 11:54] philippe-levan commented on #38
Hum... right now I don't have any solution. I will ask around me if someone has an idea... If you find a workaround, give me your solution.
Regards,
Philippe

[2015-11-17 23:47] BboyKeen opened #40 "Validation constraint on tbbc_amount"
Hi TheBigBrainsCompany !

First of all, thanks for this really useful bundle !

Then, I can't find a way to add a constraint on the amount field so could you provide me any way to do it ?
The only way I'm thinking of is using class constraint but I prefer to avoid it when possible.

Thanks !

[2015-11-18 09:42] Swahjak commented on #40
+ 1. I would also like to be able to supply a 'regular' constrain so that I can use jQuery validation to provide client side validation.

[2015-12-07 12:28] lakhman opened #42 "Why does tbbc_money create a table if using csv storage by default?"
I just integrated this into my fresh project, when I run `console doctrine:schema:update --dump-sql`, it wants to create 2 tables to store the ratios. But if by default the storage is `csv` (which it is and does save to `app/data/tbbc_money/ratio_file_name.csv`). Why does it create the tables? (they don't seem to be written to).

[code]

[code]

perhaps it could create the tables only if the the s

[2015-12-07 12:53] lakhman commented on #42
### How to set the `ratio_file_name` csv file location:

In your `parameters.yml` add the following:

[code]

When you run `console tbbc:money:ratio-fetch` it should save to whatever location you place above.

Perhaps this should be a config option under the bundle? I was looking for the option in `Configuration.php`.

---

#### [Issue] Doctrine tables being created

If I remove the `doctrine` fol

[2015-12-07 13:52] lakhman commented on #42
Figured it out, I had `auto_mapping: true` in my config.yml, so it was automatically loading any entities it could find, instead I changed it to like below and only load the entities from my app (and any others I want), this solves the issue with the database being automatically created.

[code]

Now no tables are created when using csv (by default), if you wanted to use the tables, I guess you'd

[2015-12-07 13:52] #42 closed

[2015-12-08 11:02] philippe-levan commented on #42
You're welcome :-)
I'm happy that you found the problem. I didn't know where to look for :-)
Regards, Philippe

[2015-12-09 17:12] drewclauson opened #44 "Symfony 3.0 support?"
Are there any plans for Symfony 3.0 support or ideas on how hard it would be to get there?

[2015-12-09 19:45] drewclauson commented on #44
FYI, I did a quick fork and update of dependencies and it appears to be working with 3.0.  I can issue a PR if you prefer.

[2015-12-09 23:53] lakhman commented on #44
There is already a pr here: https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/pull/43

If there's something missing/incorrect specific to symfony 3 please feel free to issue another pr.

[2015-12-10 08:44] philippe-levan commented on #44
This PR is already merged, but is reduced to  the sf3 crawler.

I'm interesed by a PR on the SF3 integration. I don't have much time to work on this bundle theses days (weeks?)

Regards, Philippe

[2015-12-10 14:17] drewclauson commented on #44
See #45

[2015-12-28 13:29] JarJak opened #47 "Disabling Doctrine does not prevent from creating tables"
When i disable doctrine:
[code]
(This stays in documentation; I've tried both true and false, with no luck)

it still tries to create tables with doctrine:schema:update. Is there a way to prevent that?

Another question: how to remove 'tbbc amount' label from form type...

[2015-12-28 13:32] JarJak commented on #37
+1

[2015-12-28 13:34] JarJak commented on #34
try this:
[code]

[2016-01-04 14:51] levincent opened #48 "Overriding tbbc_currency form type to integrate in bootstrap"
Hello
Thanks for this great bundle which I am currently discovering (I am also learning Symfony so sorry in advance if my question seems stupid).
I was wondering if there was a simple way to override the ttbc_currency form type in order to integrate the list of currencies in a list such as bootstrap input-group-addon? Any documentation/tutorial you would recommend? I have already searched at the f

[2016-01-04 15:11] levincent commented on #48
Sorry, replying to myself...
I have been trying to fix this for the last 2 days and just noticed I had not configured the twig part in my config.yml, I close this request.

[2016-01-04 15:11] #48 closed

[2016-01-22 13:10] philippe-levan commented on #34
Hi @wakoch,
Sorry for my very late answer.
I believe it is not the role of this bundle to provide any possible output format. The best way is to code your own twig filter to match your need for your application.

The @JarJak hack is a one shot solution if you just have to use it once.

Best regards,
Philippe

[2016-01-22 13:10] #34 closed

[2016-01-24 19:00] JarJak commented on #34
I don't agree. This bundle has some predefined filters,  so why not add
another one? I think many people will benefit from having it out of the box
rather than having to reinvent the wheel.
22 sty 2016 14:10 "Philippe Le Van (@plv)" <notifications@github.com>
napisał(a):

[2016-01-26 13:11] JarJak commented on #34
I have changed my answer to be more accurate. Now it is:

[code]

[2016-01-27 19:53] Richtermeister commented on #38
I just ran into this as well.

Imho the bundle should not register the types automatically. Adding a type to the project's doctrine configuration is a matter of one line http://symfony.com/doc/current/reference/configuration/doctrine.html#full-default-configuration and I see other bundles take that route as well.

[2016-02-05 07:23] ludofleury commented on #26
I was looking for the same thing.
So far embeddable are limited (you can't nest them).

Basically it's an embeddable mapping config

[code]

With a custom type currency.

The thing is I don't see why you want to auto-detect the version of Doctrine. You could introduce this feature as an "extra" document it and if the user has the required version, he could add an option in the bundle config.

Othe

[2016-02-10 09:57] rdohms opened #51 "Money v3"
We should start a release for Money v3 now that it is in alpha.

[2016-02-11 11:31] rdohms commented on #38
Yep had this as well, either it needs to make itself optional or go the configuration route.

[2016-02-11 22:24] dnagirl opened #52 "provide default value to MoneyType"
I want to set the default value of a `tbbc_money` field. I tried this:

[code]

and this:

[code]

Neither causes the default value to be set. There are no errors; the `empty_data` option is just ignored.

How am I supposed to set a default value?

[2016-02-15 17:38] ufik commented on #26
@philippe-levan any news fellas?:) It's been more than one year now, I am on new project and facing the same problem. Are you going to implement this, or we should just fork your bundle and implement it?

[2016-02-24 08:36] rastydnb opened #54 "Different values in two servers with same php"
Hi

we have two server,the two servers have php 5.6.17 , one of server is mi local with nginx ,the other server is production with apache .

When use "add()" function over some moneys, get different result in two servers.

In local we get positive values and no get erros but,
in the producction server get negative values and get this error:

The first parameter of Money must be an integer. It's th

[2016-02-24 10:28] aderuwe opened #55 "Price fields in database keep showing as updated"
[code]

Any way to avoid this?

[2016-02-26 09:40] mrcmorales commented on #51
+1

I need a version with Money v3 if not ins 32 bits os I have a overflow in PHP_MAX_INT and not works well to large integers.

Thanks

[2016-02-27 17:55] geekdevs opened #57 "Consider extracting `PairManager` and related logic to the separate project"
I truly like how currency fetching/conversion is written in this project, but this is very bound to the bundle. People who don't use symfony cannot benefit from it. I suggest to create a mini-project out of it which would be dealing with currency conversion only (fetching rates, storing etc).

Benefits:
- More people can use it
- More likely to find issues / extend faster
- Current project (TbbcMo

[2016-02-27 18:01] geekdevs commented on #55
@aderuwe I guess you're using `money` type for storing values? A bit off topic, but I would recommend using 2 fields instead (https://github.com/TheBigBrainsCompany/TbbcMoneyBundle#solution-1--two-fields-in-the-database). In my opinion this is much more flexible solution as it allows you to easily index and search for values.

[2016-02-27 18:07] geekdevs commented on #54
@rastydnb Sounds like this is not directly related to this bundle as it's not making any calculations. You need to check dependency it's using (https://github.com/moneyphp/money). In particular looks like this is relevant https://github.com/moneyphp/money/issues/40

[2016-02-27 18:21] geekdevs commented on #57
I've just checked through updates on version 3 of money library and they use this project for the same matter https://github.com/florianv/swap which looks awesome. So, I would suggest to refactor TbbcMoneyBundle to start using it.

[2016-03-04 10:04] mrcmorales commented on #51
@philippe-levan What do you think? thanks

[2016-03-04 10:18] philippe-levan commented on #51
Hi,

Yes we need a v3 version. Look at the PR #45 for this version.

I will create a 2.x branch and master will be the future 3.x release.

I'm waiting for this PR #45 to be ready to merge before doing that.

I will also create an issue to get a new maintainer on this bundle. I don't have any code in SF3.

Best regards,
Philippe

[2016-03-21 18:02] frederikbosch commented on #54
This issue can be closed, was solved [here already](https://github.com/moneyphp/money/issues/172).

[2016-04-04 10:13] mrcmorales opened #58 "Money\Money was not found in the chain configured namespaces"
Hi,

I'm in a project using multiple entity_managers so I need to configure the doctrine mappings Managers.

I'm getting this error:  The class 'Money\Money' was not found in the chain configured namespaces

How I can add this class to the doctrine mapping ?

Thanks

[2016-04-04 10:25] mrcmorales commented on #58
Nothing, was my problem.

Thanks

[2016-04-04 10:25] #58 closed

[2016-04-08 07:16] #37 closed

[2016-04-20 09:53] philippe-levan opened #60 "Looking for a maintener for this bundle !"
Hi,

You probably noticed that I'm not very reactive on issues and PRs.

I have absolutely no time anymore to maintain this bundle (and I'm not doing so much symfony anymore). So I'm looking for a new maintener for this bundle.

For me, the idea behind this bundle is :
- keep it as simple as possible
- limitate as much as possible BC breaks (and only on major versions)

Is anybody interested in wo

[2016-05-03 16:45] raistlin commented on #60
My company will use this bundle, I think I could do some mainainment.

[2016-05-16 08:28] verschoof commented on #60
@raistlin can you check the PR's already and checkout the issues? For a start to maintain this ;)

[2016-05-17 19:30] verschoof commented on #60
@philippe-levan Until you find a new Maintainer, can you please help us to make progress to the Symfony3 version? =)

[2016-05-18 16:25] philippe-levan commented on #60
@verschoof Hi, I will create the 2.x branch and merge the PR on a public branch in order to allow anybody to contribute on the v3 version. The master branch will be for the 3.x version.

But right now I have absolutely no time to work on this upgrade...

[2016-05-18 16:29] verschoof commented on #60
Hi @philippe-levan, Thanks! Nope, we don't ask you to help to upgrade this =) We only need you for the branches and the PR merges 👍 (I don't mean this harsh btw)

[2016-06-03 14:07] raistlin commented on #60
I had to regret, we finally will not use this bundle.

Sorry for any inconvenience.

[2016-06-16 21:49] maercky commented on #55
Is there an update on this? 😃

[2016-07-25 08:55] mhlavac commented on #55
@aderuwe @maercky for us this got solved when we added comment to database column

in postgres:
[code]

[2016-08-22 22:36] allan-simon opened #63 "symfony3: Could not load type "tbbc_currency""
I'm using the latest version `"reference": "50c9bd4faa2e8e13c29d55aae31609026c92095d"`  (from composer.lock) and I'm getting this error when trying to use a field in a form for a money type
doing

[code]

I think it's because `MoneyType` has in its internal definition, that it relies on `tbbc_currency`  for the currency part which does not seem to work aynmore on symfony3

replacing in the code of

[2016-09-29 20:30] geekdevs commented on #63
You are right, this is deprecated definition. Fixed at  https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/pull/65

[2016-09-29 20:34] allan-simon commented on #63
thanks for the PR :)

[2016-10-05 09:48] geekdevs commented on #60
@philippe-levan As you could see I've invested quite some time into this project and understand it's internals well. Now, as I have more time for open source projects I'd be glad to become a maintainer. Thanks!

[2016-10-05 10:19] mrcmorales commented on #55
hi @aderuwe,

You need to add this option in doctrine configuration:

[code]

[2016-10-05 10:33] aderuwe commented on #55
@mrcmorales unfortunately, that doesn't seem to do anything here.

[2016-10-05 10:49] mrcmorales commented on #55
@aderuwe sorry, I updated my comment, trye now.

[2016-10-05 13:18] geekdevs commented on #57
@Baptouuuu Thoughts about this issue? I think this is not bundle-specific logic and we could delegate it to that library instead which supports various providers and would be more flexible. I could work on migrating to it.

[2016-10-05 14:24] Baptouuuu commented on #57
I'm always in favour of separating concerns in dedicated libraries. However it will introduce a BC break as the namespaces will change thus enforcing a major release.

@philippe-levan likes to keep BC break as low as possible, so I'm in no position to tell if this separation should be done or not.

[2016-10-05 14:45] geekdevs commented on #57
@Baptouuuu I was thinking of keeping the same interface (RatioProviderInterface) and just replace the providers. This should not cause BC in client code

[2016-10-05 15:42] philippe-levan commented on #60
@geekdevs oh yeah ! you're a new maintainer !

For me, the idea behind this bundle is
    keep it as simple as possible
    limitate as much as possible BC breaks (and only on major versions)

Thank you for your work on the migration to SF3 and for your future work on this bundle.

I just set you as admin of the bundle.

Do not hesitate to contact me if you have any question.

Best regards,
Philip

[2016-10-05 15:48] geekdevs commented on #60
@philippe-levan Thanks, I appreciate this

[2016-10-05 15:48] #60 closed

[2016-10-05 20:06] geekdevs commented on #63
That PR was merged and should fix it. Closing the issue.
Feel free to reopen if you have further troubles.

[2016-10-05 20:06] #63 closed

[2016-10-05 20:08] geekdevs commented on #44
Symfony 3 support is now in master

[2016-10-05 20:08] #44 closed

[2016-10-05 20:22] geekdevs commented on #14
2.5 years and no interest, not going to happen I guess - closing.
Still if anyone comes with PR for this I would be glad to merge it.

[2016-10-05 20:22] #14 closed

[2016-10-05 20:48] geekdevs commented on #26
Sounds like a nice feature, open for PRs.

[2016-10-05 21:02] geekdevs commented on #51
Since this bundle only uses subset of features from Money library we need to see whether it would be possible to support both v.2 and v.3 without BC breaks (similar to symfony 2.8 and 3.1).

[2016-10-05 21:07] #54 closed

[2016-10-06 06:42] philippe-levan commented on #51
The money v3 is a very big change of the money library and some modifications can introduce some major BC Breaks.
The amount is a string in v3 and it is not sortable for example. I'm afraid of an internal amount formatting that can't be sorted with a simple order by.
If we decide ton integrate the money v3 to this bundle, I believe we have to address this issue with amount ordering.
Regards,
Phili

[2016-10-06 07:08] geekdevs commented on #51
@philippe-levan yes, definitely we'd need to look into it in detail and decide if it would be possible to support both versions or we'd need to have a separate version / project for that.

[2016-10-06 20:13] geekdevs commented on #57
Working on it under `feature_providers` branch
https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/commits/feature_providers

[2016-10-12 16:13] geekdevs commented on #55
@aderuwe does this solve it for you?

[2016-10-12 16:42] aderuwe commented on #55
It did not. I should probably try with latest versions of things, tho...

[2016-10-13 15:37] mrcmorales commented on #55
@aderuwe @geekdevs for me is working great this and for different projects, I'm using it with doctrine migrations.

[2016-10-17 17:11] geekdevs commented on #55
I cannot reproduce the issue on the latest master. I assume this is doctrine version related.
@aderuwe  Please share your package versions (so that I could add a note about that to README) by running the following:

`composer info | grep "symfony/symfony\|doctrine\|tbbc"`

and

`php -v`

[2016-10-17 21:35] geekdevs commented on #52
@dnagirl I think property you're looking for is `data`, not `empty_data` if you want to pre-populate your form with data.
See [Symfony docs](https://symfony.com/doc/current/form/use_empty_data.html):

[code]

I however confirm that `empty_data` is not working the way it should and needs fixing.

[2016-10-17 21:45] geekdevs commented on #57
This is done, but requires php>=5.5 because of dependencies, so delaying until next major release

[2016-10-22 21:06] glynnforrest commented on #38
See my pull request for a fix: https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/pull/67

[2016-10-25 11:46] geekdevs commented on #38
Done in https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/pull/67

This is good for fixing this issue and prevent BC breaks for this version.
However I agree with @Richtermeister, for future major version I think we should remove auto-adding the type and recommend users to add it themselves.

[2016-10-25 11:46] #38 closed

[2016-10-25 12:44] geekdevs commented on #47
This is fixed in latest master.

[2016-10-25 12:44] #47 closed

[2016-10-25 12:45] dovys opened #68 "Support for moneyphp/money v1.3.0"
Hey guys,

the moneyphp/money v1.3.0 seems to be compatible with the 3.0. Could you update the composer.json to support it?

[2016-10-25 13:31] geekdevs opened #69 "Add the capability to define a specific currency for the simple money form type"
Add the capability to define a specific currency for the simple money form type.

As suggested in PR https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/pull/41
We'll need to do similar thing which is either backwards-compatible or add that to new major version.

[2016-10-25 19:46] geekdevs commented on #68
You're right, I've updated it in master.

[2016-10-25 19:46] #68 closed

[2016-10-25 23:08] geekdevs commented on #51
Started integrating it under https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/tree/feature_money_3 branch. Planning for 4.0 release.

[2016-10-26 08:26] bubnovKelnik opened #70 "..Entity\DoctrineStorageRatio - not a valid entity or mapped super class"
v3.1
[Doctrine\ORM\Mapping\MappingException]
Class "Tbbc\MoneyBundle\Entity\DoctrineStorageRatio" is not a valid entity or mapped super class.

[2016-10-26 08:26] bubnovKelnik commented on #70
tbbc_money:
    currencies: "%tbbc_money.currencies%"
    reference_currency: "%tbbc_money.reference_currency%"
    decimals: 2
    ratio_provider: tbbc_money.ratio_provider.google
    storage: doctrine
    enable_pair_history: false

[2016-10-26 08:34] dovys commented on #68
Thanks!

[2016-10-26 09:05] geekdevs commented on #70
@bubnovKelnik would you please provide more info about your use case? Which code triggers this error?

With `enable_pair_history: false` the bundle should not be initializing or using DoctrineStorageRatio entity.

[2016-10-26 09:13] bubnovKelnik commented on #70
Hi!
I do not want to store ratio history, but i want to store current ratio.
With
enable_pair_history: false
and
storage: doctrine
I got this problem - no doctrine mapping config is loaded :(

[2016-10-26 09:14] bubnovKelnik commented on #70
This error appears on bin/console tbbc:money:ratio-fetch

[2016-10-26 09:52] geekdevs commented on #70
Released fix for this in v3.1.2

[2016-10-26 10:01] bubnovKelnik commented on #70
Great!

[2016-10-26 10:35] #70 closed

[2016-11-09 11:59] nspyke commented on #26
Is anyone currently working on a PR for this issue? I'd like to offer my help. I need it for my project as well.

[2016-11-09 14:06] nspyke commented on #26
Ok. I'll see what I can do.
Does the code need to support Symfony 2.3 since it's no longer maintained?

[2016-11-09 14:07] geekdevs commented on #26
@nspyke Thanks!
no, we support symfony>=2.8

[2016-11-10 08:21] geekdevs commented on #55
closing as no further feedback provided. Feel free to re-open with more info if error still occurs.

[2016-11-10 08:21] #55 closed

[2016-11-10 08:23] geekdevs commented on #69
PR is merged

[2016-11-10 08:23] #69 closed

[2016-11-17 15:42] geekdevs commented on #26
@nspyke any news on this one yet?

[2016-11-17 17:52] nspyke commented on #26
I spent a day working on it without any success. I gave up and implemented it in a couple hours without using this bundle.

[2016-11-17 18:15] geekdevs commented on #26
@nspyke could you elaborate what exactly was the problem?

[2016-11-19 09:39] geekdevs commented on #26
They are discussing this on `moneyphp/money` project https://github.com/moneyphp/money/issues/328 so we will probably just use their implementation when it's ready.

[2016-11-25 19:02] geekdevs commented on #51
merged to master

[2016-11-25 19:02] #51 closed

[2017-03-13 22:14] aimeric opened #78 "currency switcher dropdown"
Hi,

I have install and configure tbbcmoneyBundle and it works fine. I have been searching for a while now and I don't found any way to have a dropdown with twig that I allow the user to switch the currency. In the documentation there is only an example where I can predefined the currency to which I would like my data to be converted to.

` {{ $amount | money_convert("USD") | money_format }}`

Tha

[2017-03-14 02:42] ricardosaracino opened #79 "Composer update is using old moneyphp and wants getName instead of getCode"
- Removing moneyphp/money (v3.0.2)
  - Installing moneyphp/money (v1.3.0)
    Loading from cache

  - Updating tbbc/money-bundle (v3.1.2 => v3.1.3)
    Checking out 2be1df30df82d7703a13dfddf029cac706e8e9bd

Attempted to call an undefined method named "getCode" of class "Money\Currency".

[code]

https://github.com/moneyphp/money/blob/master/src/Money.php

[2017-03-14 10:36] geekdevs commented on #79
@RicardoSaracino money-bundle v.3.x is still using moneyphp v 1.3 which has different notation (`Currency::getName()` instead of `Currency::getCode()`)

see https://github.com/moneyphp/money/blob/1.x/lib/Money/Currency.php

[2017-03-14 14:20] RicardoSaracino commented on #79
Any plans on updating this in the near future or will this become an unmaintained project?

[2017-03-14 14:24] geekdevs commented on #79
master branch already uses moneyphp v.3, but it is not released and thus unstable.

[2017-03-14 14:26] RicardoSaracino commented on #79
cool, im about to release a version of my project. i can look at this for the next iteration then. Much appreciated.

[2017-05-07 13:11] 7system7 opened #80 "In Symfony3 the form theming has been changed"
From this:
[code]

To this:
[code]

More information if you planning to migrate (also the documentation) to the Symfony3:
http://symfony.com/doc/current/form/form_customization.html
http://symfony.com/doc/current/form/form_themes.html

[2017-05-14 17:49] RuslanZavacky opened #81 "DoctrineTypeCompiler pass, do we need it?"
There was a good effort in #67 from @glynnforrest to move Doctrine into compiler pass. This _almost_ solved the issue with doctrine to be loaded on compilation step. But it still causes issues, as to get definition of Doctrine, service should be loaded, so essentially, this part in `DoctrineTypeCompilerPass.php`

[code]

will try to connect to the database. But this bit does only 1 thing - it adds

[2017-05-14 17:51] RuslanZavacky commented on #81
Oh, nvm, missed #74 :)

[2017-05-14 17:51] #81 closed

[2017-08-05 23:05] enekochan opened #82 "The value "false" for the "choices_as_values" option is deprecated since version 2.8 and will not be supported anymore in 3.0"
I get this deprecation warning with a Symfony 2.8 project even when I use the master branch of the bundle:

The value "false" for the "choices_as_values" option of the "choice" form type (Symfony\Component\Form\Extension\Core\Type\ChoiceType) is deprecated since version 2.8 and will not be supported anymore in 3.0. Set this option to "true" and flip the contents of the "choices" option instead.

W

[2017-08-06 12:33] geekdevs commented on #82
@enekochan You should just ignore this deprecation message. It is only there because ChoiceType on symfony 2.8 uses `choices_as_values` internally. Once you upgrade to 3.0 it will be automatically gone. Also, we cannot add "choices_as_values=true" because it would break the bundle for symfony 3.0.

[2017-08-06 13:32] enekochan commented on #82
Oh, I didn't know that :) And I see now that as Currency uses the same values for id and value ('EUR' for example) it won't affect the resulting select. Thanks!

[2017-08-06 13:32] #82 closed

[2017-11-05 16:19] Aleg-1990 opened #83 "www.google.com -> finance.google.com"
Please, change `www.google.com` to `finance.google.com` in [provider](https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/blob/master/Pair/RatioProvider/GoogleRatioProvider.php) and docs. This is breaks currency fetching.

[2017-11-08 08:21] geekdevs commented on #83
Fixed via https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/commit/e635c700cb851bcdf7ee3a80e537103ee6bb774c

[2017-11-08 08:21] #83 closed

[2017-11-08 08:26] #79 closed

[2018-01-10 12:43] glynnforrest opened #86 "Patch version upgrade from 3.1.3 to 3.1.4 is a big BC break"
The 3.1.3 tag requires `moneyphp/money: ^1.2.1`, but 3.1.4 requires `moneyphp/money: ^3.0`.

I'd expect this sort of BC break in a major version bump, not in a patch version upgrade.

I've noticed you've added the `change-log-4.0.md` file, did you intend for this change to happen in the 4.0 release?

[2018-01-27 03:18] enekochan commented on #86
I agree. `moneyphp/money: ^3.0` removed some deprecations (for example the use of `Currency::getName`) and all my app broke. I had to lock TbbcMoneyBundle to 3.1.3 for now.

Ref: https://github.com/moneyphp/money/blob/4b18610d3fa0fb0db8fa10b88003ec6028824fe5/CHANGELOG.md#removed

[2018-01-27 09:12] geekdevs commented on #86
Thanks, guys - wrong version was released. Master was released which was meant to be version 4.0. I re-released it from 3.x branch as 3.1.4 now

[2018-01-27 09:12] #86 closed

[2018-01-27 12:37] glynnforrest commented on #86
Thanks @geekdevs !

[2018-01-29 12:15] hanishsingla commented on #79
Hi. . Any plans on releasing this version. V3.1.4 still using getName() instead of getCode(). https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/blob/v3.1.4/Formatter/MoneyFormatter.php

[2018-01-31 14:18] geekdevs commented on #79
@hanishsingla You can use version from `master` for this, but it is considered unstable even though it should work. I don't have much time now so any help with testing that would be great.

[2018-02-01 12:25] hanishsingla commented on #79
Sure. . I can also push few Symfony 4 compatibility changes if needed.

[2018-02-07 01:13] enekochan opened #87 "CurrencyType uses tbbc_name but should use tbbc_code in 4.0?"
As the bundle is preparing for v4.0 in master branch, it has started using `moneyphp/money` v3.0 which changes how we access the currency in a Money instance from `getName` to `getCode`. The forms in TbbcMoneyBundle still generate CurrencyType with `tbbc_name`, should it have to be changed to `tbbc_code` so it follows the same convention as the `moneyphp/money` library version it's using? This wou

[2018-02-07 08:31] geekdevs commented on #87
@enekochan I am actually thinking of refactoring this form type. I don't see why would you need additional element there as CurrencyType could be element by itself.

[2018-02-07 12:11] enekochan commented on #87
No I don't mean an additional element, just that the CurrencyType when printed with Twig in a form uses as the input name `tbbt_name` which was the accessor method (`getName()`) in `moneyphp/money` in v1.x, but now that TbbcMoneyBundle uses v3.x and the accessor is `getCode()`.

For example now it prints something like this:

[code]

But may be it should print this:

[code]

You can see where this

[2018-02-07 16:03] rpac-tump commented on #87
I first install this bundle the 15th december. I updated today 07th feb. 2018 via composer ("tbbc/money-bundle": "^3.1").
In the doc page for entity definition [see here](https://github.com/TheBigBrainsCompany/TbbcMoneyBundle#saving-money-with-doctrine) we have :
 public function setPrice(Money $price)
{
  ...
  $this->priceCurrency = $price->getCurrency()->getCode();
  ...
Give an error : Attempt

[2018-02-07 16:08] enekochan commented on #87
@rpac-tump TbbcMoneyBundle ^3.1 is still using moneyphp/money ^1.2.1:

https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/blob/v3.1.4/composer.json#L21

You have to use dev-master of TbbcMoneyBundle for moneyphp/money ^3.0

[2018-02-07 16:14] rpac-tump commented on #87
I look at my version : it's v3.1.4

[2018-02-07 19:01] geekdevs commented on #87
@enekochan What I mean is I think it would make sense to have `form[price][tbbc_currency]` as a name (thus avoiding extra form type which is not necessary IMO).

@rpac-tump If you're using v.3 you should be checking according branch, not master:
https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/tree/3.x

[2018-02-07 22:07] enekochan commented on #87
@geekdevs Now I understand what you mean :) May be that could make sense but I can't contribute with a valuable opinion on such an important decision. Will be paying attention on v4 release.

[2018-02-07 22:07] #87 closed

[2018-04-06 15:47] simoheinonen opened #91 "Service alias for Sf4"
[code]

[2018-05-21 00:02] enekochan opened #93 "Services declared as private won't be able to be obtained from the container in Symfony 4.0"
While looking for deprecations in the process to upgrade my Symfony app from 3.4 to 4.0 I've seen this one:

[code]

Looks like some services are not defined as public and thus won't be able to be obtainer from the container. Those are the services I think should be declared public AFAIK:

- `tbbc_money.pair.csv_storage`
- `tbbc_money.ratio_provider.yahoo_finance`
- `tbbc_money.ratio_provider.goog

[2018-05-21 00:32] geekdevs commented on #93
@enekochan yes, please create PR

[2018-05-21 00:38] enekochan commented on #93
Done in #94

[2018-05-29 14:10] danielchodusov opened #96 "Hide decimals if 0 in twig"
Hello,

is there any way how to display formatted price like

100 EUR instead of 100.00 EUR in Twig? So decimals are only visible if there are any.

{{ product.price|money_format }}

[2018-07-28 01:59] #93 closed

[2018-08-29 12:21] philippe-levan opened #102 "errors in tags v3.1.7 and v3.1.8"
There is an error in tags 3.1.7 and 3.1.8.

I did some fixes on the lib and create those tags from master.

I should have fix that from branch 3.x and not master.

I will create a good tag v3.1.9 in few minutes.

Sorry for that.

[2018-08-29 12:50] #102 closed

[2018-08-29 12:52] philippe-levan commented on #102
That's ok, I created the tag v3.1.9 from branch 3.x...

[2018-09-09 08:41] geekdevs commented on #57
I integrated https://github.com/florianv/exchanger project as an optional dependency for MoneyBundle (both for master and 3.x) versions.

[2018-09-09 08:41] #57 closed

[2018-09-09 08:42] geekdevs commented on #80
thanks, added to README

[2018-09-09 08:42] #80 closed

[2018-09-10 05:08] geekdevs opened #106 "Packagist is not auto-updating"
Packagist is not auto-updating anymore to the latest release. This causes the issue of composer not seeing updates.
Probably something's wrong with the hook, could you please check @philippe-levan?

[2018-09-10 07:18] philippe-levan commented on #106
Hi @geekdevs,

It seems that there is 3 problems in the composer.json of master branch and 3.x branch :

* the tag name "v4.0.0@beta" is not valid (in the nextcloud project they are naming the beta tags like "v14.0.0beta4" for example. Without the "@")
* the target-dir seems to be removed when we are using psr-4 (it seems that this point is blocking packagist).

I give you below the errors that pa

[2018-09-10 10:04] geekdevs commented on #106
@philippe-levan ok, that solves it. Thanks for checking.

[2018-09-10 10:04] #106 closed

[2018-09-10 11:51] philippe-levan commented on #106
Thanks for the fix.

I made a fix on my side to use the new github hooks.

Best regards,

[2018-12-20 12:19] MartinPalmqvist opened #107 "symfony 4.1 - form theme"
[code]

Malformed namespaced template name "@TbbcMoneyBundle:Form:fields.html.twig" (expecting "@namespace/template_name").

[code]

There are no registered paths for namespace "TbbcMoneyBundle".

[code]

Template reference "TbbcMoneyBundle:Form:fields.html.twig" not found, did you mean "@TbbcMoney/Form/fields.html.twig"?

So what should be the correct form theme?

Right now I have just copied the

[2018-12-20 12:54] #107 closed

[2019-04-01 15:19] althaus opened #108 "[Sf4] Stop using ContainerAwareCommands"
Hi,

due to changes in Symfony the commands shouldn't access the container directly, but use service injection instead:

Cheers
Matthias

[2019-07-26 09:04] lsv commented on #108
Fixed in #110
If it gets accepted and merged

[2019-07-26 09:06] lsv commented on #52
With #115 if it gets accepted
Its possible with something like this

[code]

[2019-07-26 09:07] lsv commented on #40
With #115 if it gets accepted
Its possbile with

[code]

[2019-10-08 09:17] patrickvale commented on #96
I would also like to be able to do this. So far I have come up with a workaround:

`{{ result.priceData.money | money_as_float | number_format }}`

Which isn't ideal but it does at least allow me to keep the money data saved as a Money object, and then control the output (number of decimals, basically, is my requirement).

So in my use case, I have users entering prices, but in some situations (eg

[2019-12-12 11:34] hanishsingla commented on #108
I don't think this bundle is being managed anymore. @philippe-levan

[2019-12-12 13:16] althaus commented on #108
I've switched to my own fork to get it running with Sf4/5. :/

[2019-12-16 13:46] hanishsingla commented on #108
Can you share your package with everyone so we can start using your bundle? I think you can register your fork on packagist?

[2020-01-14 07:28] geekdevs commented on #108
Thanks for all your contributions guys, sorry I only could only check this now.
It would be great to start checking Symfony 5 release, any PRs would be appreciated (and checked quickly!).

[2020-01-14 08:28] althaus commented on #108
I made some updates in my fork (https://github.com/althaus/TbbcMoneyBundle/releases), but didn't check for BC as I just neeed to get it working again.

[2020-01-15 07:09] geekdevs commented on #108
Yes, I saw your fork, making something along same lines. I plan major release so support for some older php and symfony versions will also be dropped.

[2020-01-16 13:21] lsv opened #119 "SF >4.3 - getCurrencyBundle() is deprecated"
"Symfony\Component\Intl\Intl::getCurrencyBundle()" is deprecated since Symfony 4.3, use "Symfony\Component\Intl\Currencies" instead.

[2020-01-17 14:38] geekdevs commented on #119
yes, but we need to keep both somehow for BC

[2020-04-07 11:03] noahlvb opened #120 "Adding support for symfony 5"
It seems like there has already been worked on supporting symfony 5. Will it be released anytime soon?

[2020-04-09 09:54] geekdevs commented on #120
@noahlvb We've been working on it for some time, but there are still compatibility issues which need to be solved (see travis). If you have time to help with that it would be great!

[2020-04-12 12:05] geekdevs commented on #120
Alright, I solved build issues and released v4.0.0 (with Symfony5 support)

[2020-04-12 12:05] #120 closed

[2020-04-12 12:06] geekdevs commented on #119
already done

[2020-04-12 12:06] #119 closed

[2020-04-12 12:08] geekdevs commented on #108
This is done and released

[2020-04-12 12:08] #108 closed

[2020-04-12 12:13] geekdevs commented on #78
There's CurrencyType which could be used to create form with symfony and then render it on twig:

[code]

[2020-04-12 12:13] #78 closed

[2020-04-12 12:14] #40 closed

[2020-04-12 12:15] #52 closed

[2020-04-16 14:18] simivar opened #122 "Add contrib recipe to Symfony Flex"
Symfony Flex recipe is super useful for new developers discovering the bundle but also for ones that already used it for a while.

My proposition is to create a recipe for TbbcMoneyBundle in [recipes-contrib](https://github.com/symfony/recipes-contrib). I can try to create PR over there but as I am fairly new to this bundle I opened it to discuss what should be there.

From what I see config files

[2020-04-18 17:01] geekdevs commented on #122
@simivar That would be great, thanks. This configuration should be enough to get started.

[2020-06-08 11:19] simivar commented on #122
I've created a [PR in contrib](https://github.com/symfony/recipes-contrib/pull/954) but unfortunately only for version 4.0.

For 3.0, I received errors [from Travis CI](https://travis-ci.org/github/symfony/recipes-contrib/jobs/695969904):

[code]

[2020-06-24 17:37] simivar commented on #122
@geekdevs PR in `recipes-contrib` has been merged

[2020-06-24 17:37] #122 closed

[2020-08-09 12:28] ostrolucky opened #125 "Twig widget for SimpleMoneyType is missing"
SimpleyMoneyType has [block prefix `tbbc_simple_money`](https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/blob/ccad3d13335969e341fdf679cd57a46562f6e8ff/Form/Type/SimpleMoneyType.php#L62), but [no such widget is defined in fields.html.twig](https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/blob/master/Resources/views/Form/fields.html.twig).

This results in weird renderings.
In case of sy

[2020-08-28 16:04] ostrolucky opened #126 "Money formatting harcodes currency on the right"
This is wrong https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/blob/ccad3d13335969e341fdf679cd57a46562f6e8ff/Formatter/MoneyFormatter.php#L68

For example, GBP currency symbol is supposed to be shown on the left of amount. Why don't you use Moneyphp stock formatter? That one is Intl aware.

[2020-09-08 20:43] ostrolucky commented on #126
localizedFormatMoney should be used

[2020-09-08 20:43] #126 closed

[2020-10-13 19:49] grekpg opened #127 "Argument 1 passed to Tbbc\MoneyBundle\Pair\PairManager::setRatioProvider() must implement interface Tbbc\MoneyBundle\Pair\RatioProviderInterface, instance of Exchanger\Service\Chain given"
but one think

Argument 1 passed to Tbbc\MoneyBundle\Pair\PairManager::setRatioProvider() must implement interface Tbbc\MoneyBundle\Pair\RatioProviderInterface, instance of Exchanger\Service\Chain given

[2020-10-26 15:43] sciro-de opened #128 "Argument 1 passed to Tbbc\MoneyBundle\Pair\Storage\DoctrineStorage::__construct() must be an instance of Doctrine\Common\Persistence\ObjectManager, instance of Doctrine\ORM\EntityManager given"
I found this nice bundle today but I can't seem to get it to work with doctrine. As soon as I set
`tbbc_money:
    storage: doctrine`
I get this TypeError. I don't understand why because when I checked \vendor\tbbc\money-bundle\Pair\Storage\DoctrineStorage.php it seems to be correct to me. Using Symfony 5 with all bundles up to date.

[2020-11-13 11:43] Wirone commented on #96
I thought that setting `decimals: 0` would fix it but unfortunately it causes more problems - `Money::EUR('2900')` rendered in Twig using `money|money_localized_format` prints `$2,900`.

Currently I ended up with `money|money_as_float|format_currency(money.currency.code, { fraction_digit: 0 })` which uses [`format_currency`](https://twig.symfony.com/doc/3.x/filters/format_currency.html) from `twig

[2020-11-30 14:18] Lustmored commented on #128
It seems this bundle still uses old doctrine/common namespace and that's the source of the problem.

[2020-12-22 20:52] TrogWarZ commented on #127
Same here.

Using: php 7.4, symfony 5.2.0 (api-platform 1.3.0), money-bundle 4.0.0, exchanger 2.6.0.

Without exchanger works perfectly. But after adding it like documentation said – this error:
[code]

How to fix?

[2021-03-05 08:44] mrcmorales opened #130 "Form error is not showed in input field"
Hi,

I'm using this bundle with symfony 4.4 and when I writing some value with mistakes using MoneyType or SimpleMoneyType, the form is caching the error but only showing as general error, not directly in input field.

How Can I resolve it ?

Thank you

[2021-03-21 10:14] GSwidnicki opened #131 "Symfony From on object without setter throw "Could not determine access type for property""
I have a form and entity:
[code]
Class WarehouseProduct::class is a entity that has only constructor and getters.
When form is submitted from frontend and Symfony does `handleRequest` and throws an exception:
[code]
The only solution I found is that form implements interface `Symfony\Component\Form\DataMapperInterface`...
Methods forced by the interface do not have to do anything at all and everyt

[2021-04-09 16:30] leegbestand commented on #130
I had the same issue and you can fix it by disabling error bubbling:
[code]

[2021-05-20 10:44] mbrodala commented on #26
@geekdevs Since that issue was closed what is the status here?

[2021-11-09 13:12] grekpg commented on #128
fixed

[2021-11-15 21:02] potibm opened #134 "Class "Symfony\Component\EventDispatcher\Event" not found"
After upgrading to 4.1.0 I receive the error above when starting  `bin/console tbbc:money:ratio-fetch`

[code]

Symfony is 5.3.x

[2021-11-26 21:48] potibm commented on #134
This helped:

in Pair/SaveRatioEvent.php
[code]

and in Pair/PairManager.php (Line 106)
[code]

[2021-12-01 11:33] lsv opened #135 "Support for Symfony 6 / PHP 8"
It seems this is gonna be a big job to fix.

I would properly
- Remove all the non-maintainted PHP (which means only PHP 8.0 and 8.1 should be available) and symfony versions (which means only 4.4, 5.4 and 6.0)
- phpunit/dbunit is not maintained anymore, so that needs to be removed

Maybe even rewrite all the tests, I saw a few classes that isnt loaded in the tests, due to wrong namespace.
And yea

[2021-12-11 10:51] lsv commented on #135
Please see PR #136

[2022-06-02 08:36] hanishsingla commented on #135
Changes from #136 have been merged in a new v5.0.0-alpha

[2022-06-09 08:24] LauLaman opened #141 "Missing argument for tbbc_money.ratio_provider.ecb"
The V5.0.0 is missing a argument in the service definition (also mentioned [here](https://github.com/TheBigBrainsCompany/TbbcMoneyBundle/pull/136#issuecomment-1132418392) by @baldurrensch)

Error:
[code]

This is because the service definition does not specify the constructor argument:
[code]

Should be:
[code]

Fix for now:

Add this to your services.yaml to overwrite the service definition:
[cod

[2022-06-15 11:03] #135 closed

[2022-06-15 11:05] #26 closed

[2022-07-25 12:08] wouter-toppy commented on #141
@johanwilfer  @lsv @hanishsingla

created a pull #142 . Any change you can check?

[2022-07-26 11:42] johanwilfer commented on #141
Thanks for the PR, I have merged this into master now. Can you verify that it works using "dev-master" @wouter-toppy ?

We can tag a new release later then.

[2022-07-26 12:16] wouter-toppy commented on #141
@johanwilfer  Its working, you can tag the new version ;-)

[2022-07-26 12:41] johanwilfer commented on #141
Done @wouter-toppy , thanks for checking! :)

[2022-07-26 12:41] #141 closed

[2022-07-26 12:43] johanwilfer commented on #91
@simoheinonen Can you try the latest release that is more or less a rewrite (v5). That should work well with Symfony 6. Closing this, please reopen if something still needs to be fixed here.

[2022-07-26 12:43] #91 closed

[2022-07-26 12:46] johanwilfer commented on #128
This seems to be resolved, will close this issue.

[2022-07-26 12:46] #128 closed